# Assignment Day - 2

# Question: So you guys need to work with the default functions of each one of the data type: ----

1. List and it default functions
2. Dictionary & its default functions
3. Sets & its default functions
4. Tuple & explore default methods
5. String & explore default methods (Only 5 for each data type)

# 1. List and default functions

List are just like the arrays beacause a list is a container which can hold different daa types in it. List is a complex data type which is derived from list object. List is a collection which is ordered, changeable and allows duplicate members.

In [1]:
# list with mixed data types

my_list = ['Python', 'Java', 'C++', 'C', 'PHP', 'Spring', 10, 12.345, [1, 2, 3, 4]]

In [2]:
# Check the dtat types

type(my_list)

list

In [3]:
# Adding element in the my_list

my_list.append("Javascript")

# Printing data

my_list

['Python',
 'Java',
 'C++',
 'C',
 'PHP',
 'Spring',
 10,
 12.345,
 [1, 2, 3, 4],
 'Javascript']

In [4]:
# Indexing 

my_list[2:5]

['C++', 'C', 'PHP']

In [5]:
# reverse

my_list.reverse()
my_list

['Javascript',
 [1, 2, 3, 4],
 12.345,
 10,
 'Spring',
 'PHP',
 'C',
 'C++',
 'Java',
 'Python']

In [6]:
# Pop the element

my_list.pop(2)

12.345

In [7]:
# Removing data in my_list

my_list.remove("PHP")
my_list

['Javascript', [1, 2, 3, 4], 10, 'Spring', 'C', 'C++', 'Java', 'Python']

In [8]:
# Clear all data in my_list

my_list.clear()
my_list

[]

# 2. Dictionary & its default functions

A dictionary is a collection of key/value pairs. Python has various methods to work in dictionaries. In this reference page, you will find all the methods to work with dictionaries.

Data is stored like ---> { "Key" : "Value" }

In [14]:
# Create a dictionary and insert data

person = {'name': 'Rajeev', 'age': 24 , 'number' : 7087268700, 'Email' : 'Rajeev02@outlook.com'}

In [15]:
# Check the data types

type(person)

dict

In [16]:
# Print the dictionary

person

{'name': 'Rajeev',
 'age': 24,
 'number': 7087268700,
 'Email': 'Rajeev02@outlook.com'}

In [17]:
# Using get method 

person.get('name')

'Rajeev'

In [18]:
# Using items method

person.items()

dict_items([('name', 'Rajeev'), ('age', 24), ('number', 7087268700), ('Email', 'Rajeev02@outlook.com')])

In [19]:
# Using keys method

person.keys()

dict_keys(['name', 'age', 'number', 'Email'])

# 3. Sets & its default functions

Sets are used for stored unique values in the python and sets are a complex struture. A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

In [20]:
# Create set and input data

St = {"Rahul", "Developer", 1,1,2,3,4,5,4,5,5,6}

In [21]:
# Check the data types 

type(St)

set

In [22]:
# Print the sets

St

{1, 2, 3, 4, 5, 6, 'Developer', 'Rahul'}

In [23]:
# Adding the elements in St

St.add("Student")

In [24]:
# Using issubset method and check also boolean

St1 = {"Rahul", 1}
St1.issubset(St)

True

In [25]:
# removing a particular object

St.remove("Student")
St

{1, 2, 3, 4, 5, 6, 'Developer', 'Rahul'}

In [26]:
# updating data

St.update(["Microsoft", "Google", "IBM", "Amazon"])

In [27]:
St

{1,
 2,
 3,
 4,
 5,
 6,
 'Amazon',
 'Developer',
 'Google',
 'IBM',
 'Microsoft',
 'Rahul'}

In [28]:
# Discarding the objects

St.discard("Amazon")
St

{1, 2, 3, 4, 5, 6, 'Developer', 'Google', 'IBM', 'Microsoft', 'Rahul'}

In [29]:
#Clearing all data

St.clear()
St

set()

# 4. Tuple & explore default methods

Tuples are ordered immuatable collection of objects. A tuple is a collection which is ordered and unchangeable. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets. Creating a tuple is as simple as putting different comma-separated values.

In [30]:
# Create a tuple & Enter the objects

Tup = ("Apple", "Mongo", "Banana", "Cherry", "Orange", "Kiwi", "Melon")

In [31]:
# Check the data types

type(Tup)

tuple

In [32]:
# Printing the data

Tup

('Apple', 'Mongo', 'Banana', 'Cherry', 'Orange', 'Kiwi', 'Melon')

In [33]:
# Indexing 

Tup[2:6]

('Banana', 'Cherry', 'Orange', 'Kiwi')

In [34]:
# Negative indexing

Tup[-1]

'Melon'

In [35]:
# Count the objects

Tup.count('Orange')

1

In [36]:
# Create other two tuples and merge it

tup1 = (11, 12, 33.45, 34.56)
tup2 = ('abc', 'PQR', 'xyz')

# So let's create a new tuple as follow

tup3 = tup1 + tup2
tup3

(11, 12, 33.45, 34.56, 'abc', 'PQR', 'xyz')

In [37]:
# The max() method returns the elements from the tuple with maximum value

tuple1 = ('maths', 'chemistry', 'physics', 'biology')
tuple2 = (456, 310, 400, 350)
print ("Max value element : ", max(tuple1))
print ("Max value element : ", max(tuple2))

Max value element :  physics
Max value element :  456

In [38]:
# The min() method returns the elements from the tuple with minimum value.

tuple1 = ('maths', 'chemistry', 'physics', 'biology')
tuple2 = (456, 310, 400, 350)
print ("Min value element : ", min(tuple1))
print ("Min value element : ", min(tuple2))

Min value element :  biology
Min value element :  310

In [39]:
# The len() method returns the number of elements in the tuple.

tuple1 = ('maths', 'chemistry', 'physics', 'biology')
tuple2 = (456, 310, 400, 350)
print ("First tuple length : ", len(tuple1))
print ("Second tuple length : ", len(tuple2))

First tuple length :  4
Second tuple length :  4

# 5. String & explore default methods

Strings are amongst the most popular types in Python. We can create them simply by enclosing characters in quotes. Python treats single quotes the same as double quotes. Creating strings is as simple as assigning a value to a variable.

For example ---- 'hello' is the same as "hello".

In [40]:
# Create a String and Enter the object

Str = "Rajeev Kumar"

In [42]:
# Check the data types

type(Str)

str

In [43]:
# Create a other String

String1 = "Hello World!"

# Get the character at position

String1[1]

'e'

In [44]:
# Slicing

String1[2:5]

'llo'

In [45]:
# Negative Indexing

String1[-5:-2]

'orl'

In [46]:
# String Length

len(String1)

12

In [47]:
# Upper Case

Str.upper()

'RAJEEV KUMAR'

In [48]:
#Lower Case

Str.lower()

'rajeev kumar'

In [49]:
# String Concatenation

Str1 = "Kiran"
Str2 = "Singh"

Str3 = Str1 + " " + Str2

Str3

'Kiran Singh'

In [50]:
# Insertind more object in str4

Str4 = "Rajeev", "Sonu", "Mahesh", "Swati", "Priya"
Str4

('Rajeev', 'Sonu', 'Mahesh', 'Swati', 'Priya')

In [51]:
# Both Positive or negative Indexing 

Str4[2:-1]

('Mahesh', 'Swati')

In [52]:
# replace method

Str5 = "I like C++ programming lanaguage"
Str6 = Str5.replace("C++", "Java")
Str6

'I like Java programming lanaguage'

In [53]:
# Updating method

var1 = 'i like Java Programming!'
print("Updated String :- ", var1[:7] + 'Python programming!')

Updated String :-  i like Python programming!

In [54]:
# Single Quotes

Var2 = "My name is %s and weight is %d kg !" % ('Rajeev', 23)
Var2

'My name is Rajeev and weight is 23 kg !'

In [55]:
# Triple Quotes

Var3 = """ This is a long string that is made up of several lines and non-printable characters such as TAB ( \t ) and they will show up that way when displayed. NEWLINEs within the string, whether explicitly given like
this within the brackets [ \n ], or just a NEWLINE within the variable assignment will also show up. """

# Printing
Var3

' This is a long string that is made up of several lines and non-printable characters such as TAB ( \t ) and they will show up that way when displayed. NEWLINEs within the string, whether explicitly given like\nthis within the brackets [ \n ], or just a NEWLINE within the variable assignment will also show up. '

In [56]:
#  islower() method

Var4 = "this is string example....wow!!!";
Var4.islower()

# isupper() method

Var4 = "THIS IS STRING EXAMPLE....WOW!!!"; 
Var4.isupper()

True

In [57]:
# Python string format() method

# default(implicit) order
default_order = "{}, {} and {}".format('Rajeev','Priya','Saikiran')
print('\n--- Default Order ---')
print(default_order)

# order using positional argument
positional_order = "{1}, {0} and {2}".format('Rajeev','Priya','Saikiran')
print('\n--- Positional Order ---')
print(positional_order)

# order using keyword argument
keyword_order = "{p}, {s} and {r}".format(r = 'Rajeev', p = 'Priya', s = 'Saikiran')
print('\n--- Keyword Order ---')
print(keyword_order)

--- Default Order ---
Rajeev, Priya and Saikiran

--- Positional Order ---
Priya, Rajeev and Saikiran

--- Keyword Order ---
Priya, Saikiran and Rajeev

In [60]:
# The enumerate() function returns an enumerate object.

Seasion = 'cold'

# enumerate()
list_enumerate = list(enumerate(Seasion))
print('list(enumerate(Seasion) = ', list_enumerate)

#character count
print('len(Seasion) = ', len(Seasion))

list(enumerate(Seasion) =  [(0, 'c'), (1, 'o'), (2, 'l'), (3, 'd')]
len(Seasion) =  4

-------------------------------------------------------------------------------------------------------------------------------

-------------------------------------------------------------------------------------------------------------------------------